body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: rgb(71, 71, 71);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.login-container {
    background-color: #cec7fb;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

input, button {
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input:focus{
    border-bottom: 2px solid black;
    outline: none;
}
button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 80px;
}

button:hover{
    background-color: grey;
}
.error-message {
    color: red;
}
